<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

</head>

<body>


	<div style="height: 100px;"></div>
	<div class="row">

		<div class="col-md-4 " style="border: solid 1px grey; border-radius: 5px; height: 200px;">
			<h2> Customers </h2>
			Manage Customer profiles<br /> <br />
			<input type="button" class="btn btn-info" value="Go to Customers" onclick="location.href='@Url.Action("Index", "customers")'" /><br />
		</div>
		<div class="col-md-offset-2 col-md-4" style="border: solid 1px grey; border-radius: 5px; height: 200px;">
			<h2>Loans</h2>
			Manage Loans for an existing customer<br /> <br />
			<input type="button" class="btn btn-info" value="Go to Loans" onclick="location.href='@Url.Action("Index", "loans")'" />
		</div>
		<div style="height: 50px;"></div>
		<div class="col-md-4" style="border: solid 1px grey; border-radius: 5px; height: 200px; margin-top:50px;">
			<h2>ClientAPI</h2>
			API Verification<br /> <br />
			<a class="btn btn-info" href="~/Customers.Html">Client App</a>
		</div>
	</div>



</body>
</html>